@model EVoucher_CMS_Client.Models.ResponseModels.GetEVoucherDetailResponse

<div>
    <div class="row">
        <label class="col-sm-6 col-form-label">VoucherNo</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.VoucherNo</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">Title</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.Title</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">Description</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.Description</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">ExpiryDate</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.ExpiryDate</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">BuyType</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.BuyType</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">VoucherAmount</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.VoucherAmount</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">PaymentMethod</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.PaymentMethod</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">SellingPrice</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.SellingPrice</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">SellingDiscount</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.Quantity</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">MaxLimit</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.MaxLimit</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">Gift Per UserLimit</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.GiftPerUserLimit</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-6 col-form-label">Status</label>
        <div class="col-sm-6 col-form-label">
            <p>@Model.Status</p>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default rounded-pill" data-dismiss="modal">Close</button>
    </div>

</div>